@font-face {
    font-family: 'OpenSans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/OpenSans-Regular.eot');
    src: local('☺'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg') format('svg');
}
@font-face {
    font-family: 'Play';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Play-Regular.eot');
    src: local('☺'), url('../fonts/Play-Regular.woff') format('woff'), url('../fonts/Play-Regular.ttf') format('truetype'), url('../fonts/Play-Regular.svg') format('svg');
}
body {
    margin: 0;
    background-color: #fff;
    font-family: 'OpenSans';
}
img {
    border: 0;
}
.clearfix:after, #contents:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 1%;
    content: "";
    line-height: 0;
}
.btn {
    display: inline-block;
    width: 230px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background: url(../images/bg-button.png) no-repeat;
    background-position: 0 -70px;
    font: 24px/60px 'OpenSans';
}
.btn:hover {
    background-position: 0 0;
}

/*------------------------------ HEADER ------------------------------*/

#header {
    padding: 27px 0;
    border-bottom: 1px solid #e6e6e6;
    background-color: #eee;
}
#header > div, #footer > div {
    width: 920px;
    margin: 0 auto;
    padding: 0 20px;
}

/** Logo **/

#header .logo {
    float: left;
    margin-right: 20px;
}
#header .logo a {
    display: block;
    width: 76px;
    height: 20px;
    padding-top: 68px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background: url(../images/logo.png) no-repeat center top;
    font: 15px/30px 'Play';
}

/** Navigation **/

#navigation {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 100px;
}
#navigation ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}
#navigation li {
    float: left;
    width: 160px;
    text-align: center;
}
#navigation li a {
    text-decoration: none;
    color: #818181;
    font-size: 15px;
    line-height: 30px;
}
#navigation li a:hover {
    color: #000;
}
#navigation li.active a {
    color: #f99600;
}
#adbox {
    height: 380px;
    padding: 60px 0;
    background: url(../images/bg-adbox.jpg) repeat-x left top;
}
#adbox > div {
    width: 800px;
    margin: 0 auto;
    padding: 0 80px;
}
#adbox > div img {
    float: right;
    margin-left: 60px;
}
#adbox h1, #adbox h2 {
    margin: 0;
    text-transform: uppercase;
    color: #2c2c2c;
    font-size: 60px;
    line-height: 60px;
}
#adbox h2 {
    text-transform: none;
    font-size: 30px;
    line-height: 36px;
}
#adbox p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}
#adbox p span {
    display: block;
    width: 360px;
    padding: 24px 0;
    text-align: center;
    font-size: 12px;
}
#adbox p span b {
    display: block;
    width: 256px;
    font-weight: normal;
}

/*------------------------------ CONTENTS ------------------------------*/

#contents {
    width: 880px;
    min-height: 510px;
    margin: 0 auto;
    padding: 54px 40px;
}
h1 {
    margin: 0 0 30px;
    color: #3e3e3e;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
}
h2 {
    margin: 0 0 12px;
    color: #2c2c2c;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
}
p {
    margin: 0 0 30px;
    color: #585858;
    font-size: 16px;
    line-height: 24px;
}
p a {
    color: #585858;
}
#tagline h1 {
    margin-left: 20px;
}
#tagline > div {
    float: left;
    width: 400px;
    margin: 0 20px;
}
#contents .features {
    width: 810px;
    margin: 0 auto;
}
.features > div {
    display: inline-block;
    margin: 0 0 30px;
}
.features > div img {
    float: left;
    margin-top: 36px;
    margin-right: 20px;
}
.date {
    float: left;
    width: 70px;
    height: 78px;
    margin-right: 20px;
    text-align: center;
    border: 1px solid #d5d5d5;
}
.date p {
    margin: 12px 0 0;
}
.date p span {
    display: block;
    margin-bottom: 6px;
    font-size: 30px;
}
.author {
    display: block;
    color: #585858;
    font-size: 12px;
}
.more {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #727272;
    font-size: 14px;
    line-height: 30px;
}
.more:hover, .message input[type='submit']:hover {
    color: #000;
    background-color: #f99600;
}

/** main **/

.main {
    float: left;
    width: 620px;
    min-height: 100px;
    padding-right: 24px;
    background: url(../images/divider.png) repeat-y right top;
}
.main h1, .sidebar h1 {
    position: relative;
    top: -18px;
    margin: 0 0 12px;
}
.main h2 span {
    display: block;
    font-size: 12px;
}

/** sidebar **/

.sidebar {
    float: left;
    width: 216px;
    min-height: 848px;
    margin-left: 20px;
}
.sidebar ul, .news {
    margin: 0;
    padding: 0;
    list-style: none;
}
.news li {
    position: relative;
    padding: 24px 30px 0 100px;
    border-top: 1px solid #d5d5d5;
}
.news li .date {
    position: absolute;
    top: 30px;
    left: 0;
    float: none;
}
.news li > p span, .post > span {
    display: block;
    text-align: right;
}
.posts {
    border-top: 1px solid #d5d5d5;
}
.posts li {
    padding: 24px 10px 0;
    border-bottom: 1px solid #d5d5d5;
}
.posts li p {
    font-size: 14px;
}
.posts li .title {
    margin: 0 0 12px;
    font-size: 16px;
    font-weight: normal;
}
.posts li .title a {
    text-decoration: none;
    color: #2c2c2c;
    font-size: 16px;
}
.post {
    width: 785px;
    margin: 0 auto;
}
.post h1 {
    padding-top: 12px;
}
#about {
    width: 740px;
    margin: 0 auto;
}
#about h1, .section h1 {
    padding-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}
.section {
    float: left;
    width: 390px;
    margin-right: 50px;
}
.section h1 {
    margin-bottom: 18px;
}
.message input[type='text'], .message textarea {
    width: 380px;
    height: 33px;
    margin: 0 0 6px;
    padding: 0 4px;
    color: #aeaeae;
    border: 1px solid #d5d5d5;
    font-size: 13px;
    line-height: 33px;
}
.message textarea {
    overflow: auto;
    height: 175px;
    resize: none;
}
.message input[type='submit'] {
    float: right;
    height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    color: #d5d5d5;
    border: 0;
    background-color: #818181;
    font: 13px/30px Arial, Helvetica, sans-serif;
}
.contact {
    width: 270px;
    padding: 124px 60px;
    text-align: center;
    background-color: #f8f8f8;
}
.contact p span {
    display: block;
    padding: 18px 0;
    color: #2c2c2c;
    font-size: 30px;
    line-height: 36px;
}

/*------------------------------ FOOTER ------------------------------*/

#footer {
    padding: 30px 0;
    border-top: 1px solid #d8d8d8;
    background-color: #eee;
}
#footer p {
    padding-left: 10px;
    font-size: 12px;
    line-height: 30px;
}
#connect {
    display: inline-block;
    float: right;
    margin-right: 30px;
}
#connect a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    background: url(../images/icons.png) no-repeat;
}
#connect a.googleplus {
    background-position: 0 -40px;
}
#connect a.twitter {
    background-position: 0 -80px;
}
#connect a.tumbler {
    background-position: 0 -120px;
}
#connect a.facebook:hover {
    background-position: -40px 0;
}
#connect a.googleplus:hover {
    background-position: -40px -40px;
}
#connect a.twitter:hover {
    background-position: -40px -80px;
}
#connect a.tumbler:hover {
    background-position: -40px -120px;
}
